.aboutMe  {
    color: black;
}

.calendar {
    width: 15%;
    background-color: rgba(19, 13, 13, 0.158);
}

.ant-picker {
    border: 1px solid ;
}

.ant-picker-input > input {
    text-align: center;
}

.edit {
   display: none; 
}