.about-container {
    margin-top: 32px;
    display: flex;
}

.sub-left-about-container {
    width: 20%;
    margin-left: 5%;
    padding: 32px;
}

.sub-middle-about-container {
    background-color: #ffff;
    width: 50%;
    padding: 32px;
}

.sub-right-about-container {
    background-color: #ffff;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 32px;
}