#delete-dialog {
    display: none;
    height: 110px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgba(27, 150, 195, 0.69);
    border-radius: 15px 15px 15px 15px;

    #check {
        text-align: center;

        button {
            margin-left: 5px;
            font-size: 15px;
        }
    }

    h2 {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 5%;
    }
}