.second {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    width: 50%;
}

.first {
    width: 40%;
    height: 700px;
    margin-left: 30%;
    text-align: center;
}

.third {
    margin-top: 10%;
    width: 230px;
}