.secondary_menu {
    height: 56px;
    list-style-type: none;
    border-bottom: 1px solid;
    border-color: rgb(65, 166, 239);
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #0d83c280;
}
.secondary_base {
    padding-top: 16px;
    height: 48px;
}
.secondary_menu li {
    float: left;
}
.secondary_menu .secondary_base a {
    font-size: 15px;
    color: white;
    padding: 16px 26px;
    text-decoration: none;
}