.login-second {
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.login-first {
    width: 40%;
    height: 700px;
    margin-left: 30%;
    text-align: center;
}

.login-third {
    margin-bottom: 10%;
    width: 230px;
}