.middle {
    width: 45%;
}

.home {
    margin-left: 0%;
    height: 100%;
    display: flex;
}

.left {
    width: 25%;
    padding: 32px;
}

.right {
    width: 25%;
    margin-right: 5%;
    padding: 32px;
}