.class-tag {
    display: inline-block;
    font-size: 2em;
    padding: 2% 5%;
    border-radius: 25px;

    &:hover {
        cursor: pointer;
    }
}

.selected-tag {
    background-color: rgba(182, 240, 166, 0.439);
}

.classification {
    margin: 10% 9%;
    padding: 4% 5%;
    width: 80%;
    height: 40%;
    background-color: rgba(10, 143, 210, 0.3);
    border-radius: 25px;
    word-break: keep-all;
    overflow-y: scroll;

    &:hover {
        margin: 9% 8%;
        width: 82%;
        height: 42%;
        transition: all .2s ease-in-out;
    }
}

.classification-empty {
    text-align: center;
    font-size: 2em;
}