.classification-container {
    padding: 24px;
    margin-top: 32px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    background-color: #ffff;
}
.tag-item {
    text-align: center;
    margin: 0 8px;
    background-color: #f5f5f5;
    &:hover {
        cursor: pointer;
        background-color: #f0f0f0;
    }
}
.tag-count {
    float: right;
}