.post {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .blog {
        max-width: 70%;
        img {
            margin-left: 20%;
            margin-right: 20%;
            width: 60%;
        }

        a {
            &:hover {
                color: white;
                cursor: pointer;
            }

            span {
                color: gray;
            }
        }
    }

    .anchor-container {
        width: 20%;
        height: auto;
        position: fixed;
        margin-left: 80%;
        text-align: center;
        padding: 5% 2%;

    }
}

.prev-page {
    float: left;
    margin-left: 10%;
}

.next-page {
    float: right;
    margin-right: 20%;
}

.blog {
    width: 70%;
    margin-left: 10%;
}