.post {
    width: 100%;
    height: 100%;

    img {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }
    a {
        &:hover {
            color: white;
            cursor: pointer;
        }
        span {
            color: gray;
        }
    }
}

.prev-page {
    float: left;
    margin-left: 10%;
}

.next-page {
    float: right;
    margin-right: 20%;
}

.blog {
    width: 70%;
    margin-left: 10%;
}