.post {
    text-align: center;
    width: 70%;
    margin-left: 10%;
}

.header {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.post .header .h1 {
    font-size: 50px;
}

.post .content .p {
    font-size: 25px;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    border-radius:25px 25px 25px 25px;
    background-color: rgba(19, 13, 13, 0.158);
}


