pre {
    width: 100%;
    position: relative;
    padding: 12px 24px;
    background: rgba(128, 128, 128, 0.612);
    overflow: hidden;
}


:not(pre) > code {
    overflow-y: auto;
    background-color: gray;
    padding-left: 3px;
    padding-right: 3px;
}

.header {
    h1 {
        text-align: center;
        font-size: 40px;
    }
}

.content {
    .img-loading {
        filter: blur(10px);
        clip-path: inset(0);
    }

    .img-loaded {
        filter: blur(0px);
        transition: filter 0.5s linear;
    }
}