.class-tag {
    display: inline-block;
    font-size: 25px;
    padding: 2% 5%;
}

.classification {
    padding: 4% 5%;
    background-color: #ffff;
    word-break: keep-all;
    overflow-y: scroll;
}