#login-dialog {
    display: none;
    width: 300px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: rgba(124, 173, 209, 0.443);
    background-attachment: fixed;
    border-radius: 10px;
}

#login-dialog {
    padding: 5px 10px;
    text-align: center;
}

#login-dialog h2 {
    color: white;
}

#login-form {
    padding: 30px 30px 5px 30px;
    z-index: 999;
}

#login-form input,
#login-form button {
    color: white;
    margin: 6px 0;
    height: 36px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 14px;
    padding: 0 15px;
}

#login-form button {
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: rgba(255, 255, 255, 0.45);
}