.app {
    background-image: linear-gradient(rgba(0, 0, 0, 0.118), rgba(0, 0, 0, 0.118)), url('./images/bg/bg3.jpeg');
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#prompt-root {
    width: 100%;
    position: fixed;
    z-index: 999;
    margin-top: 20%;
}

#root {
    height: 100%;
}

p {
    white-space: pre-line;
    color:white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

input[type="file"] {
    display: none;
}



