.app {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    & * {
        color: white;
    }
}


#prompt-root {
    width: 100%;
    position: fixed;
    z-index: 999;
    margin-top: 15%;
}

#root {
    height: 100%;
}


input[type="file"] {
    display: none;
}



