.app {
    background-image: url('./images/bg/bg4.jpeg');
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#root {
    height: 100%;
}

p {
    color:white;
}

h1 {
    color: white;
}

h3 {
    color: white;
}


