.header {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;

    .base {
        color: black;
        display: inline-block;
        font-size: 16px;
        padding: 0px 16px;

        &:hover {
            cursor: pointer;
            color: #1677FF;
            background-color: #f7f7f7;
        }
    }

    .home {
        float: left;
        margin-right: 5%;
    }

    .right-item {
        float: right;
    }
}

.header-menu {
    padding-left: 10%;
    padding-right: 10%;
}