.primary_menu {
    height: 80px;
    list-style-type: none;
    border-bottom: 1px solid;
    border-color: rgb(65, 166, 239);
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(72, 175, 244, 0.491);
}

.primary_base {
    padding-top: 20px;
    height: 64px;
}

.primary_menu li {
    float: left;
}

.primary_menu .user {
    margin-right: 10%;
    float: right;
}

.primary_menu .nav-home {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}

.primary_menu .primary_base a {
    font-size: 25px;
    color: white;
    padding: 16px 26px;
    text-decoration: none;
}

.primary_menu .primary_base a:hover {
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(6, 54, 103);
}

.primary_menu .user .user-content a {
    font-size: 1vw;
}

.primary_menu .user .user-content {
    padding-left: 24px;
}

.user:hover .user-content {
    display: block;
}

.user-content {
    padding-top: 16px;
    display: none;
    position: absolute;
}

.user-content a {
    text-decoration: none;
    display: block;
}

.user-content a:hover {
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(6, 54, 103);
}