.menu {
    height: 80px;
    border-bottom: 1px solid;
    border-color: rgba(72, 175, 244, 0.5);
    margin: 0;
    padding: 0px;
    background-color: rgba(72, 175, 244, 0.5);

    .base {
        font-size: 2.5vw;
        padding: 10px 15px 10px;

        &>a {
            text-decoration: none;

            &:hover {
                color: white;

            }
        }
    }

    li {
        list-style: none;
        float: left;
    }

    .home {
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        padding: 10px 25px 10px;
    }

    .list {
        position: relative;
        display: inline-block;
        margin-right: 10%;

        &:hover {
            .pull-down {
                z-index: 10;
                height: 120px;
            }
        }
    }

    &>:not(.settings):hover {
        border-radius: 25px;
        background-color: rgb(6, 54, 103);
    }
}

.settings {
    float: right;
    margin-right: 10%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.pull-down {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.844);
    border-radius: 5px;
    min-width: 160px;
    margin-top: 10px;
    overflow: hidden;
    height: 0;
    transition: 0.2s;

    a {
        font-size: 1.5vw;
        color: rgb(80, 78, 78);
        padding: 12px 26px;
        display: block;

        &:hover {
            color: rgb(28, 28, 28);
            background-color: white;
        }
    }
}