.comments {
    width: 40%;
    margin-left: 10%;

    .ant-input {
        opacity: 90%;
        background-color: rgb(243, 246, 248);
        margin-bottom: 2%;
    }
    .ant-comment-content-author-name {
        color: gray;
    }
}